
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>添加图标</title>
</head>
<body>
    <div style="padding: 15px; overflow: hidden">
        <form id="IconsAddForm" method="post" action="">
            <table class="tableForm" width="100%">
                <tr>
                    <th>
                        图标名称：
                    </th>
                    <td>
                        <input type="text" name="txtIconName" id="txtIconName" class="easyui-validatebox textbox"
                               data-options="required:true,validType:'length[2,20]'" style="width:150px;height:22px;" />
                    </td>
                </tr>
                <tr>
                    <th>
                        图标信息：
                    </th>
                    <td>
                        <select id="comboxIconTree" name="comboxIconTree" class="easyui-combotree" data-options="url:'/Icons/GetAllImgInfo',editable:false,valueField:'id',textField:'text',multiple:false" style="width:250px;height:22px;"></select>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
